<div>
    <div>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-4 p-5" style="background-color: azure;">
        <p>Add Appointment</p>
        <form [formGroup]="AddAppointmentForm">

            <div class="form-group">
                <label>Choose doctor</label>
                <select class="form-select required form-control" (change)="GetDoctorWorkingDays()" formControlName="doctorId"
                   aria-label="Default select example">
                    <option value="" disabled selected>Select Doctor</option>
                    <option *ngFor="let doctor of _doctorList" [ngValue]="doctor.id">
                        {{doctor.name}}
                    </option>
                </select>
                <div class="d-flex text-danger"
                    *ngIf="getDoctor().invalid && getDoctor().dirty || getDoctor().touched">
                    <small *ngIf="getDoctor().errors?.['required']">
                        Doctor is required
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Select Day</label>
                <select class="form-select required form-control" (change)="getTimeSlots()" formControlName="date"
                   aria-label="Default select example">
                    <option value="" disabled selected>Select Day</option>
                    <option *ngFor="let day of _doctorDayList" [ngValue]="day.id">
                        {{day.date | date}}
                    </option>
                </select>
                <div class="d-flex text-danger"
                    *ngIf="getDate().invalid && getDate().dirty || getDate().touched">
                    <small *ngIf="getDate().errors?.['required']">
                        Date is required
                    </small>
                </div>
            </div>

            <div class="form-group pt-3">
                <label>Choose time</label>
                <select class="form-select required form-control" formControlName="timeSlotId"
                     aria-label="Default select example">
                    <option value="" disabled selected>Select Time</option>
                    <option *ngFor="let time of _TimeList" [ngValue]="time.id">
                        {{time.time | date :'h:mm:ss a'}}
                    </option>
                </select>
                <div class="d-flex text-danger"
                    *ngIf="getTime().invalid && getTime().dirty || getTime().touched">
                    <small *ngIf="getTime().errors?.['required']">
                        Time is required
                    </small>
                </div>
            </div>


            <div class="form-group pt-3">
                <label>Patient Name</label>
                <input class="form-control" type="text" formControlName="patientName" placeholder="Patient Name">
                <div *ngIf="getPatientName().invalid && getPatientName().dirty || getPatientName().touched ">
                    <small class="text-danger" *ngIf="getPatientName().errors?.['required']">
                        Patient Name is required
                    </small>
                </div>
            </div>
            <div class="form-group pt-3">
                <label>Patient Address</label>
                <input class="form-control" type="text" formControlName="patientAddress" placeholder="Patient Address">
                <div *ngIf="getPatientAddress().invalid && getPatientAddress().dirty || getPatientAddress().touched ">
                    <small class="text-danger" *ngIf="getPatientAddress().errors?.['required']">
                        Patient address is required
                    </small>
                </div>
            </div>
            <div class="form-group pt-3">
                <label>Patient Age</label>
                <input class="form-control" type="text" formControlName="patientAge" placeholder="Patient Age">
                <div *ngIf="getPatientAge().invalid && getPatientAge().dirty || getPatientAge().touched ">
                    <small class="text-danger" *ngIf="getPatientAge().errors?.['required']">
                        Patient age is required
                    </small>
                </div>
            </div>

            <div class="form-group pt-3">
                <label>Choose patient Birth Date</label>
                <input class="form-control" type="date" formControlName="patientBirthdate">
                <div class="d-flex text-danger"
                    *ngIf="getPatientBirthdate().invalid && getPatientBirthdate().dirty || getPatientBirthdate().touched">
                    <small *ngIf="getPatientBirthdate().errors?.['required']">
                        Patient birth date is required
                    </small>
                </div>
            </div>

            <div class="pt-4">
                <input type="submit" (click)="submit()" class="btn btn-orange w-100" value="Add Appointment"
                    [disabled]="!AddAppointmentForm.valid">



            </div>
        </form>

    </div>
</div>